.intro {
  background-image: url('/images/bunt.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 300px;
  max-height: 600px;
  height: 80vh;

  &__summary {
    --flow-space: #{get-size(500)};
    font-size: get-size(500);

    a {
      color: currentColor;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__heading {
    max-width: 40ex;
    color: var(--color-theme-feature-text);

    &--compact {
      max-width: 20ex;
    }
  }
}

.intro-pull {
  margin-top: -8rem;
  min-height: 8rem;
  max-width: 600px;
}