.site-foot {
  // Reverse whatever the theme colors are
  background: var(--color-dark);
  color: var(--color-light);

  a {
    color: currentColor;

    &:hover {
      text-decoration: none;
    }
  }

  &__credit {
    text-align: center;
  }
}
