<a class="skip-link" href="#main-content">Skip to content</a>
<header role="banner" class="[ site-head ] [ pad-top-700 pad-bottom-700 ">
  <div class="wrapper">
    <span class="visually-hidden">{{ site.name }}: {{ pageType }}</span>

    <div class="[ site-head__inner ] [ md:box-flex space-between align-center ]">
      {% set ariaLabel = 'navigation' %}
      {% include "partials/components/nav.njk" %}

      <a href="/">
        <img width="75" src="/images/logo_dark.png" alt="">
      </a>
    </div>
  </div>
</header>
