{% extends 'layouts/base.njk' %}

{% set pageType = 'Homepage' %}

{% block content %}
  <main class="box-flex align-end width-full pad-top-900 pad-right-900 pad-bottom-900 pad-left-900" style="background-image: url('/images/placeholder.jpg');height: 100vh;background-repeat: no-repeat;background-size: cover;" id="main-content" tabindex="-1">
    <div class="box-flex width-full align-end space-between">
      {% include "partials/components/nav.njk" %}

      <img width="300" src="/images/logo.jpg" alt="">
    </div>
  </main>
{% endblock %}
