{% extends 'layouts/base.njk' %}

{% set pageType = 'Homepage' %}

{% block head %}
  <style>
    .home {
      background-image: url('/images/placeholder.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .home::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.15);
    }
  </style>
{% endblock %}

{% block content %}
  <main class="home box-flex width-full height-screen pos-r" id="main-content" tabindex="-1">
    <div class="box-flex width-full height-full align-end space-between pad-top-900 pad-right-900 pad-bottom-900 pad-left-900 text-600 pos-r color-light">
      <div class="xbox-flex align-center">
        {% include "partials/components/nav.njk" %}
        
        {% include "partials/components/socials.njk" %}
      </div>

      <img width="350" src="/images/logo_light.png" alt="">
    </div>
  </main>
{% endblock %}
